<%- include('partials/header') -%>

<div class="mainContent">
        <h1 class="heading"><%= title %>.</h1>
            <p>
                <%= content %>
            </p>
</div>

<%- include('partials/footer') -%>